<footer>
    <div id="foot">
<div id="rights"><h3>© Coding Ninjas. All Rights Reserved</h3></div>
<div id="other-links">
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/users/profile">Profile</a>
        </li>
    </ul>
</div>
    </div>
</footer>