<link rel="stylesheet" href="/css/chat_box.css">
<% if(locals.user) { %>
<div id="chat-box">
    <ul id="chat-content">
        
        </ul>
    
    <div id="send-chat">
        <form action="">
        <input id="text-message" type="text" placeholder="Send Messages">
        <button id="send-btn">Send</button>
        
    </form>
    </div>
</div>
    <% } %>