<link rel="stylesheet" href="/css/email.css">

<form action="/users/reset" method="post">
    <h1>Enter your Email</h1>

    <div id="send-mail">
        <input type="email" name="email" placeholder="Enter your email" required>
        <br>
        <br>
        <input type="submit" value="Send Reset Link">
    </div>
</form>