
<div class="main-sign-in">
<h1>Codeial Sign in</h1>

<form action="/users/create-session" method="post">
    <div class="inputs">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Your Password" required>
    <input id="submit-button" type="submit" value="Sign In">
    <a href="/users/forget">Forget Password</a>
</div>
</form>

<div id="google"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/706px-Google_%22G%22_Logo.svg.png" alt="google-logo"><a href="/users/auth/google">Sign in / sign up with Google</a></div>
</div>