
<div id="main-signUp">
    <div>
<h1>Sign Up Here</h1>
</div>

<form action="/users/create" method="post">
    <div id="input-tags">
 
<input type="text" name="name" placeholder="Your Name" required>
<input type="email" name="email" placeholder="Your Email" required>
<input type="password" name="password" placeholder="Your Password" required>
<input type="password" name="confirm_password" placeholder="Confirm Password" required>
<input id="sign-up-button" type="submit" value="Sign Up">
</div>
</form>
<p><a href="/users/auth/google">Sign in / sign up with Google</a></p>
</div>