
<div class="main-sign-in">
<h1>Codeial Sign in</h1>

<form action="/users/create-session" method="post">
    <div class="inputs">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Your Password" required>
    <input id="submit-button" type="submit" value="Sign In">
</div>
</form>
<p><a href="/users/auth/google">Sign in / sign up with Google</a></p>
</div>