form {
    height: 100vh;
    h1{
        text-align: center;
    }
    #send-mail{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}