
     body{
        #main-home{
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            align-items: center;
            #home-heading{
                font-family: sans-serif;
                font-size: 5.5rem;
            }
            #post-head{
                font-family: sans-serif;
            }
            #text-area{
                font-size: 2rem;
                width: 80vw;
            }
            #btn-div{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px 0px;
                #post-button{
                    text-align: center;
                    font-size: 2rem;
                    background-image: linear-gradient(to right, #f98b64 , #f72479);
                    color: white;
                    font-family: sans-serif;
                    border: none;
                    cursor: pointer;
                    align-items: center;
                }
            }
            ::placeholder{
                font-size: 2rem;
            }
            .post-lists{
                width: 95%;
                overflow-x: hidden;
                overflow-y: scroll;
                text-align: center;
                
                ul{
                    li{
                        font-size: 2rem;
                        list-style: none;
                        
                        p{
                            font-size: 1rem;
                            font-family: sans-serif;
                            
                        }
                    }

                }
                
            }
        }
       
     }

    
