<div>
    <h1 style="font-family: sans-serif;">Hi <%=comment.user.name %></h1>
    <br>
    <br>
    <br>
    <p style="background-color: lightgray;">Your comment <strong><%= comment.content %></strong> is now pusblished on codeial</p>
    <br>
    <br>

    <p>Thank you very much!</p>

</div>