body #main-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center; }
  body #main-home #home-heading {
    font-family: sans-serif;
    font-size: 4.5rem; }
  body #main-home #post-head {
    font-family: sans-serif; }
  body #main-home #text-area {
    font-size: 2rem;
    width: 80vw; }
  body #main-home #btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px; }
    body #main-home #btn-div #post-button {
      text-align: center;
      font-size: 2rem;
      background-image: linear-gradient(to right, #f98b64, #f72479);
      color: white;
      font-family: sans-serif;
      border: none;
      cursor: pointer;
      align-items: center; }
  body #main-home ::placeholder {
    font-size: 2rem; }
  body #main-home .post-lists {
    width: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center; }
    body #main-home .post-lists ul li {
      font-size: 2rem;
      list-style: none;
      margin: 10px 0px; }
      body #main-home .post-lists ul li p {
        font-size: 1rem;
        font-family: sans-serif; }
    body #main-home .post-lists ul a #delete-btn {
      font-size: 1.2rem;
      background-color: red;
      color: white;
      border: none;
      cursor: pointer; }
    body #main-home .post-lists ul #comment-container {
      display: flex;
      align-items: center;
      justify-content: center; }
      body #main-home .post-lists ul #comment-container form #comment-txt {
        border-radius: 50px;
        border: 1px solid orange;
        font-size: 1.2rem;
        padding: 10px;
        margin: 10px 0px;
        display: block; }
      body #main-home .post-lists ul #comment-container form #comment-btn {
        font-size: 1.2rem;
        text-align: center;
        background-image: linear-gradient(to right, #f98b64, #f72479);
        color: white;
        border: none; }
    body #main-home .post-lists ul #comments-head {
      text-align: left;
      font-family: sans-serif; }
    body #main-home .post-lists ul .post-comments-list {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 200px; }
      body #main-home .post-lists ul .post-comments-list ul h3 {
        text-align: left;
        color: navy;
        font-family: sans-serif;
        text-decoration: underline;
        cursor: pointer; }
      body #main-home .post-lists ul .post-comments-list ul li {
        background-color: lightgray; }
        body #main-home .post-lists ul .post-comments-list ul li p {
          text-align: left; }
    body #main-home .post-lists ul ::placeholder {
      font-size: 1.2rem;
      font-family: sans-serif;
      margin-left: 12px; }
